footer.my-6.text-center
    | Made by&nbsp;
    a(href='https://www.kontentino.com/?utm_source=kontentino_svg_optimizer&utm_medium=web' class='text-blue-600') Kontentino
    |  with&nbsp;❤️ &nbsp;in 2020
