doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content="width=device-width, initial-scale=1.0")

  body.bg-gray-50
    include  navigation.pug
    block content
    include footer.pug
